<table id="banner-table" width=100% cols=2>
    <tr>
      <td class="main" valign="top" align = "left">
        <img src="../images/header-logo.jpg" alt="Flood Information Distribution System"/>

      </td>
     </tr>
</table>
