<div id="notaccordion">
  <h3><a href="#">Information</a></h3>
  <div id="feed" style="margin-top:3px; margin-bottom:7px; " class="ui-widget-content">
    
  </div>
  <h3><a href="#">Controls</a></h3>
  <div style="margin-top:3px; margin-bottom:7px; height=300px;" >
   
     <input type="checkbox">Updated in last 24 Hours
     
   
  </div>
  <h3><a href="#">Details</a></h3>
  <div id="guageDiv" style="margin-top:3px; margin-bottom:7px;  font-size:11px ; height=50%;" class="ui-widget-content">
    
  </div>
  
</div>